body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    outline: red solid 2px
}

#information-box {
   background-color: white;
   width: 70%;
   margin: 2% 2% 8% 2%;
   border-radius: 30px;
}
.slider-background {
    background-color: rgb(37, 36, 36);
    height: 100%;
    width: 20%;
    margin-right: 6%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-photo {
    margin-top: 10%;
    width: 70%;
}

.slider-divider {
    border: white solid 1px;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.slider-paragraph {
    width: 80%;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
}