body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.text {
    font-size: 16px;
}
#information-box {
   background-color: white;
   width: 70%;
   margin: 2% 2% 8% 2%;
   border-radius: 30px;
}
.slider-background {
    right: 0;
    top: 0;
    background-color: rgb(37, 36, 36);
    height: 150dvh;
    width: 20%;
    margin-right: 6%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-photo {
    margin-top: 10%;
    width: 70%;
    outline: black solid 1.1vh;
    border-radius: 1px;
}

.slider-divider {
    border: white solid 1px;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.slider-paragraph {
    width: 80%;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.photo-text {
    margin: 0;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
   text-align: left;
   text-shadow: 6px 6px 2px black;


}